// selector for the <html> element
:root {
  color: #213547;
  font-size: 1.2rem;
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #f0f0f0;
}

body {
  height: 100vh;
  width: 100%;
  min-width: 600px;
  margin: 0;
}

// our main react div
#root {
  width: 100%;
  height: 100vh;
}
